<a href="https://colab.research.google.com/github/saka-21/colab_sample/blob/main/simpledeeplearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## データの読み込み

In [2]:
import numpy as np
from sklearn import datasets
import matplotlib.pyplot as plt
import pandas as pd


iris = datasets.load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
# print(iris.data[:10])
# print(iris.target[:10])
# print(iris.feature_names)
# print(iris.data.shape)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [3]:
df.describe()

       sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
count         150.000000        150.000000         150.000000        150.000000
mean            5.843333          3.057333           3.758000          1.199333
std             0.828066          0.435866           1.765298          0.762238
min             4.300000          2.000000           1.000000          0.100000
25%             5.100000          2.800000           1.600000          0.300000
50%             5.800000          3.000000           4.350000          1.300000
75%             6.400000          3.300000           5.100000          1.800000
max             7.900000          4.400000           6.900000          2.500000

In [4]:
from sklearn import preprocessing
from keras.utils import np_utils

scaler = preprocessing.StandardScaler()
scaler.fit(iris.data)
x = scaler.transform(iris.data)
t = np_utils.to_categorical(iris.target)

## 訓練データとテストデータ

In [9]:
from sklearn.model_selection import train_test_split

x_train, x_test, t_train, t_test = train_test_split(x, t, train_size=0.75)
print(x_train.shape)
print(x_test.shape)

(112, 4)
(38, 4)

## モデルの構築

In [6]:
from keras.models import Sequential
from keras.layers import Dense, Activation

model = Sequential()
model.add(Dense(32, input_dim=4))
model.add(Activation('relu'))
model.add(Dense(32))
model.add(Activation('relu'))
model.add(Dense(3))
model.add(Activation('softmax'))
model.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                160
_________________________________________________________________
activation (Activation)      (None, 32)                0
_________________________________________________________________
dense_1 (Dense)              (None, 32)                1056
_________________________________________________________________
activation_1 (Activation)    (None, 32)                0
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 99
_________________________________________________________________
activation_2 (Activation)    (None, 3)                 0
=================================================================
Total params: 1,315
Trainable params: 1,315
Non-trainable params: 0
_________________________________________________________________
None

学習

In [13]:
history = model.fit(x_train, t_train, epochs=30, batch_size=8)

Epoch 1/30
14/14 [==============================] - 1s 1ms/step - loss: 1.1377 - accuracy: 0.2214
Epoch 2/30
14/14 [==============================] - 0s 1ms/step - loss: 0.9763 - accuracy: 0.5817
Epoch 3/30
14/14 [==============================] - 0s 1ms/step - loss: 0.8646 - accuracy: 0.7648
Epoch 4/30
14/14 [==============================] - 0s 1ms/step - loss: 0.7905 - accuracy: 0.8601
Epoch 5/30
14/14 [==============================] - 0s 1ms/step - loss: 0.7272 - accuracy: 0.8311
Epoch 6/30
14/14 [==============================] - 0s 1ms/step - loss: 0.6522 - accuracy: 0.8731
Epoch 7/30
14/14 [==============================] - 0s 1ms/step - loss: 0.6387 - accuracy: 0.8344
Epoch 8/30
14/14 [==============================] - 0s 1ms/step - loss: 0.6295 - accuracy: 0.7918
Epoch 9/30
14/14 [==============================] - 0s 1ms/step - loss: 0.5019 - accuracy: 0.8642
Epoch 10/30
14/14 [==============================] - 0s 1ms/step - loss: 0.5272 - accuracy: 0.7952
Epoch 11/30
14/14 [==============================] - 0s 2ms/step - loss: 0.5015 - accuracy: 0.7959
Epoch 12/30
14/14 [==============================] - 0s 1ms/step - loss: 0.4945 - accuracy: 0.8222
Epoch 13/30
14/14 [==============================] - 0s 1ms/step - loss: 0.4835 - accuracy: 0.8510
Epoch 14/30
14/14 [==============================] - 0s 1ms/step - loss: 0.4504 - accuracy: 0.8261
Epoch 15/30
14/14 [==============================] - 0s 1ms/step - loss: 0.4612 - accuracy: 0.7631
Epoch 16/30
14/14 [==============================] - 0s 1ms/step - loss: 0.4321 - accuracy: 0.8024
Epoch 17/30
14/14 [==============================] - 0s 1ms/step - loss: 0.4772 - accuracy: 0.7749
Epoch 18/30
14/14 [==============================] - 0s 1ms/step - loss: 0.3802 - accuracy: 0.8577
Epoch 19/30
14/14 [==============================] - 0s 2ms/step - loss: 0.3876 - accuracy: 0.8521
Epoch 20/30
14/14 [==============================] - 0s 1ms/step - loss: 0.3511 - accuracy: 0.8433
Epoch 21/30
14/14 [==============================] - 0s 1ms/step - loss: 0.4003 - accuracy: 0.8354
Epoch 22/30
14/14 [==============================] - 0s 1ms/step - loss: 0.3706 - accuracy: 0.8597
Epoch 23/30
14/14 [==============================] - 0s 1ms/step - loss: 0.3171 - accuracy: 0.8659
Epoch 24/30
14/14 [==============================] - 0s 1ms/step - loss: 0.3535 - accuracy: 0.8747
Epoch 25/30
14/14 [==============================] - 0s 1ms/step - loss: 0.3090 - accuracy: 0.8867
Epoch 26/30
14/14 [==============================] - 0s 1ms/step - loss: 0.3134 - accuracy: 0.9094
Epoch 27/30
14/14 [==============================] - 0s 1ms/step - loss: 0.3491 - accuracy: 0.8488
Epoch 28/30
14/14 [==============================] - 0s 1ms/step - loss: 0.2722 - accuracy: 0.9056
Epoch 29/30
14/14 [==============================] - 0s 1ms/step - loss: 0.3250 - accuracy: 0.8935
Epoch 30/30
14/14 [==============================] - 0s 1ms/step - loss: 0.3004 - accuracy: 0.8945